body {
  background-image: url('./images/background.png');
}

.header {
  color: white;
  font-family: Roboto , sans-serif;
  font-size: 120px;
  text-align: center;
}

.title {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-family: Mochiy Pop One , sans-serif;
  font-size: 50px;
  letter-spacing: 8px;
  margin: 25px;
  padding: 15px;
  text-align: center;
}

.namePlanet {
  align-self: center;
  color: white;
  font-family: Courier New , Courier , monospace;
}

.planets {
  display: flex;
  justify-content: space-around;
  margin: 25px;
}

.onePlanet {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.cardMission {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-family: Arial , Helvetica , sans-serif;
  font-size: 20px;
  margin: 25px;
  padding: 15px;
  width: 230px;
}

.cardMission:hover {
  width: 260px;
}

.nameMission {
  font-size: 22px;
  font-weight: 700;
}

.containerMission {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Mercúrio {
  width: 60px;
}

.Mercúrio:hover {
  width: 75px;
}

.Vênus {
  width: 122px;
}

.Vênus:hover {
  width: 150px;
}

.Terra {
  width: 126px;
}

.Terra:hover {
  width: 150px;
}

.Marte {
  width: 76px;
}

.Marte:hover {
  width: 100px;
}

.Júpiter {
  width: 282px;
}

.Júpiter:hover {
  width: 300px;
}

.Saturno {
  width: 292px;
}

.Saturno:hover {
  width: 310px;
}

.Urano {
  width: 154px;
}

.Urano:hover {
  width: 175px;
}

.Netuno {
  width: 154px;
}

.Netuno:hover {
  width: 175px;
}
